<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Home</title>
    <h1 style="color: #f08434">CSE UNIVERSITY</h1>
    <p id="login-header">Welcome <b>{{g.user.name}}</b>!</p>
    <a href="/my-link/">Logout</a>
    <link rel="stylesheet" href="static/styles/login-page.css" />
    <script src="static/js/script.js"></script>
  </head>

  <body>
    <p id="currentClasses"></p>
  </body>

  <script>
    const tabs = document.querySelectorAll("[data-tab-target]");
    const tabContents = document.querySelectorAll("[data-tab-content]");
    tabs.forEach((tab) => {
      tab.addEventListener("click", () => {
        const target = document.querySelector(tab.dataset.tabTarget);
        tabContents.forEach((tabContent) => {
          tabContent.classList.remove("active");
        });
        tabs.forEach((tab) => {
          tab.classList.remove("active");
        });
        tab.classList.add("active");
        target.classList.add("active");
      });
    });
  </script>
  <script>
    window.onload = function () {
      getTeacherClasses();
    };
  </script>
</html>
